.env/
AutoGPT/
DeepLearning/
Instagram-Follower-Scraper/
Machine-Learning-for-Algorithmic-Trading-Second-Edition/
Music/
NLP/*
!NLP/*.ipynb
!NLP/*.py
Option-Pricing/
PRE/
SQLite/
StableDiffusion/
VIS/
image_classfication/
telco_churn_analysis/
venv/
ProjectStudy/*
!ProjectStudy/*.ipynb
!ProjectStudy/*.py
